*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 60px;
    background-color: #05332b;
    color: #ffffff;
    display: flex;
}
.nav-logo{
    height: 50px;
    width: 110px;
    margin-left: 17px;
}
.logo{
    background-image: url(./image/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
    border-radius:3px;
}

.nav-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 50px;
    width: 80px;
    padding-left: 15px;
}
.deliver{
    font-size: 0.8rem;
    margin-left: 17px;
}


.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid #ffffff;
    border-radius: 3px;
}

.border-search{
    border: 1.5px solid transparent;
}

.border-search:hover{
    border: 1.5px solid yellow;
    border-radius: 3px;
}
.search-section{
    display: flex;
    width: 59%;
    height: 40px;
    /* border-radius:3px; */
    
}
.select{
    border-width: 0cap;
    border-radius: 3px;
    border-top-right-radius:0px ;
    border-bottom-right-radius:0px ;
    border-right: none;
    height: 100%;
    width: 55px;
    background-color: #e6e1e1;
}
.search-bar input{
    border: none;
    width: 100%;
    height: 40px;
}
.search-bar{
    width: 100%;
    background-color: #ffffff;
}
.search-button{
    border-radius: 3px;
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 40px;
    background-color: rgba(93, 29, 128, 0.886);
    color: white;
    font-size: 1.5rem;
}

.country{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60px;
}
.flag{
    background-image: url(./image/th.jpg);
    width: 24px;
    height: 18px;
    background-size: cover;
}
.IND{
    font-size: 15px;
    padding-left:3px ;
    font-weight: bold;
}
.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 110px;
}
.sign-in{
    font-size: 0.8rem;
}
.Account{
    font-size: 1rem;
    font-weight: 500;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
}
.cart i{
    /* display: flex; */
    font-size: 33px;
}

.subnavbar{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color:transparent;
    height: 40px;
    width: 30%;
    font-size: 95%;
    font-weight: 530;
    /* font-size: 0.94em; */
}

.main-image {
    background-image: url(./image/61ZuJVk67dL._SX3000_.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 450px;
}
.image-note{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin-bottom: 90px;
    height: 40px;
    width: 97%;
}
.main-image a {
    text-decoration: none;
    color: rgb(37, 141, 141);
    
}


.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E3E6E6;
    
    height: 850px;
    width: 100%;
}
.box{
    margin-top: 20px;
    /* padding-top: 20px; */
    /* padding-bottom: 15px; */
    background-color: white;
    width: 350px;
    /* height: 385px; */
    height: 420px;   
}
.div-image{
    
    background-size: cover;
    width: 310px;
    height: 303px;
    margin-left: 20px;
}
.imag-tag{
    margin: 20px;
    font-size: 21px;
    font-weight: 600;
}
.see-more{
    margin: 20px;
    font-size: 13px;
    color: #007185;
    font-weight:500 ;
}

